.repo {
  width: 99%;
  padding: 16px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: #48465b;
  background-color: white;
}

.repo-avatar img {
  width: 120px;
  height: 120px;
  /*float: left;*/
}
.repo-info {
  display: block;
}

.repo-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px;
}

.repo-desc {
  font-size: 14px;
  color: #595d6e;
}

.repo:hover,
.repo:active {
  background-color: #c0ddf5;
}

.owner {
  margin: 16px 0;
  color: #ccc;
}
